.factStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    p{
        max-width: 80%;
        font-style: italic;
    }
    h5{
        font-family: Christmas;
        font-size: 2.4rem;
        @media screen and (max-width: 600px) {
            font-size: 1.8rem;
        }
    }
}