.modalStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(80,20,20);
    width: 50%;
    height: 50%;
    margin: auto;
    color: white;
    box-shadow: 1px 2px 3px rgba(22,22,22, 0.4);
    animation: animateIn 0.2s ease forwards ;
    z-index: 3;
  
}

.modalBackgroundStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(55,55,55,0.5);
    animation: animateBGIn 0.2s ease forwards ;
    z-index: 1;
}

@keyframes animateIn {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 50%;
        height: 50%;
    }
    
}

@keyframes animateBGIn {
    0% {
        background-color: rgba(55,55,55,0);
    }

    100% {
        background-color: rgba(55,55,55,0.7);
    }
    
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  overflow: hidden;
  border-top: 1px solid rgba(255, 49, 49, 0.5);
  border-right: 1px solid rgba(255, 49, 49, 0.5);
  border-bottom: 1px solid rgba(255, 49, 49, 0.5);
  border-left: 1px solid rgba(255, 49, 49, 0.5);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;

  h1, h2, h3, h4, h5{
    font-family: Christmas;
    font-size: x-large;
  }
}

p {
  font-size: 0.95rem;
  text-align: center;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}

.bottom {
  right: 0;
  bottom: 0;
  height: 3px;
  background: linear-gradient(
    90deg,
     rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49),
    transparent 50%
  );
}

.right {
  top: 0;
  right: 0;
  width: 3px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
      rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}

.left {
  left: 0;
  bottom: 0;
  width: 3px;
  height: 0;
  background: linear-gradient(
    180deg,
      rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49),
    transparent 70%
  );
}

.top {
  animation: animateTop 7s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 7s ease-in-out infinite;
}

.right {
  animation: animateRight 7s ease-in-out infinite;
}

.left {
  animation: animateLeft 7s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
